<!-- Static navbar -->
<div class="navbar navbar-default" role="navigation">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="/">{{ site.name }}</a>
  </div>
  <div class="navbar-collapse collapse">
    <ul class="nav navbar-nav">
      <li><a href="/about.html">ABOUT</a></li>
      <li><a href="/books/mmix.html">TAOCP: MMIX</a></li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">OTHER BOOKS <b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li class="dropdown-header">2013</li>
          <li><a href="#">JMBook</a></li>
          <li class="divider"></li>
          <li class="dropdown-header">2012</li>
          <li><a href="#">AOSA</a></li>
          <li><a href="#">HtDP</a></li>
          <li class="divider"></li>
          <li class="dropdown-header">~2011</li>
          <li><a href="#">SICP</a></li>
        </ul>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="#">?</a></li>
    </ul>
  </div><!--/.nav-collapse -->
</div>