<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>TSG :: Tuesday Study Group</title>
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <!-- syntax highlighting CSS -->
  <link rel="stylesheet" href="/css/syntax.css">
  <!-- Custom CSS -->
  <link rel="stylesheet" href="/css/default.css">
</head>
<body>
  <div class="container">{% include header.html %}</div>
  <div class="container">{{ content }}</div>
  <div class="container">{% include footer.html %}</div>
  <!-- Include all compiled plugins (below), or include individual files as needed -->
  <script src="/js/jquery-2.1.0.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>
</body>
</html>
